td {
    border: 1px solid blue;
    height: 100px;
    width: 100px;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 75px;
    text-shadow: 4px 4px 4px #aaa;
  }

td:hover {
    background: orange;
    cursor: pointer;
  }
 
table {
    border: 1px solid green;
    margin: auto;
    margin-top: 100px;
  }